/* * {
  border: 1px solid red;
} */

* {
  margin: 0px;
}

.header {
  text-align: right;
}

body {
  background-color: #F1F1F1;
}

.container{
  margin: 0px;
  margin-right: 0px;

  width:100%;
}

ul{
  list-style-type: none;
}

.gogo {
  border: 1px solid #add8e6;
  margin: 2px;
  background-color: #add8e6;
}
